<h1 class="text-center">Sign up your team for dip-a-thon!!</h1>

<%= render 'form' %>

<div class="row">
	<div class="span5">
<%= link_to 'Back', root_path(@browse), :class => "btn btn-large btn-danger" %>
</div>
</div>

