<h1> This all started as a trivia challenge.. </h1> </br> </br>

<p>
	<h2> Dip-a-thon started last summer in Sea Cliff with a very poorly attended trivia challenge. Was it fun? Yeah, it was a good time but we knew that we could do better. So this winter, we set out to remake dip-athon as an all out battle of teams between different parks seeing who was fastest strongest and most committed!! </h2> </br> </br> </br>
	
	</p>
	
	<p>
		<h2> This summer, we plan to make the event even cooler. More parks, more distance more fun! We are super excited about the event and hope to see you on June 5th!! </h2> </br>
		
		</p>
		
		<p>
			<img src='http://www.mirablack.com/wp-content/uploads/2011/06/843917421_ec3c31ec86.jpg'  style='width:500px;height:350px'>

