<div class= "hero-unit">
															 <h1> Welcome to spring dip-a-athon!! </h1>
															<h2> You have heard about it! You Have read about it! Now it's time to get involved! Press the button below to sign up for the spring dip-a-thon! </h2>
										<%= link_to 'Register your team', new_team_path(@team), :class => 'btn btn-large btn-success' %>
										</div>
										<div class="paragraphs">
										<div class="row">
											<div class= "span8">
											<h2> The competition is going to be real fun this year! Why don't you check out the dip-a-thon parks!! </h2> </br> 
											<%= link_to 'Check out the dip-a-thon parks!!', browse_parks_path(@browse), :class => 'btn btn-large btn-warning'%> </br>
											<img src='http://www.seacliff-ny.gov/wp-content/uploads/2011/10/SpookyParkMaze.jpg'style='width: 400px; height:300px'>
											</div>
											<h2> Join the historic tradition!! Be the dipper we know you can be!!</h2>
								<div class="dipimg">  <img src="assets/dip.jpg" style='width:500px;height:350px'/> </div>
												</div>
												</div>
												
												
												
												
</body>
</html>
